    @model List<Satinal>
@if (TempData["basarili"] != null)
{
    <h4 style="color:red">@TempData["basarili"]</h4>
}
<div class="container">
        <div class="pt-3 pb-4">
        <div>
            <h1>Kurs satın alma</h1>
        </div>
    </div>           <!--tablo yapımı oluşturdum-->
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>OgrenciId</th>
            <th>KursId</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            @foreach (var Satinal in Model) 
            {
            <tr>
                <td>@Satinal.Id</td>
                <td>@Satinal.OgrenciId</td>
                
                    @if (Satinal != null && Satinal.Kurs != null)
                    {
                        <td>@Satinal.Kurs.KursAdi</td>
                    }
                    else
                    {
                        <td>...</td>
                    }
                    



<td><a asp-controller="Satinal" asp-action="EkleGuncelle" asp-route-id="@Satinal.Id" type="button" class="btn btn-success" style=" width:150px">güncelle</a></td>
<td><a asp-controller="Satinal" asp-action="Sil" asp-route-id="@Satinal.Id" type="button" class="btn btn-danger" style="width:150px">sil</a></td>
            </tr>
            }
        </tbody>
        </table>
        <div class="row pt-3 pb-2">
            <div>
                <a asp-controller="Satinal" asp-action="EkleGuncelle" class="btn btn-primary" type="button">yeni satın alma kaydı oluştur</a>
            </div>
        </div>
    </div>